* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Heebo";
}

h1,
h2,
h3,
h4,
p {
    color: #21243d;
}

/* Header */

.header-container {
    max-width: 1030px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li {
    list-style: none;
    margin-left: 34px;
}

.header__link {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.header__link:hover {
    color: rgb(143, 132, 132);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.navigation-push {
    color: #ff7c7c;
}

.navigation-push:hover {
    color: #ff7c7c;
}

@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 50px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #21243d;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.2s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: "";
        position: absolute;
        background-color: #21243d;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #e8eaff;
        padding: 70px 10px 20px 10px;
    }
    .header__menu.active {
        top: 0px;
    }
    .header__list {
        display: block;
    }
    .header__link {
        color: #21243d;
        font-size: 24px;
    }
    .header__link:hover {
        color: #676b96;
        font-size: 24px;
    }
    .navigation-push {
        color: #ff4848;
    }
    .navigation-push:hover {
        color: #ff4848;
        font-size: 24px;
    }
    .header__list li {
        margin: 0 0 20px 0;
    }
}

/* Main */

.welcome {
    display: flex;
    justify-content: center;
}

.welcome-container {
    width: 860px;
    height: 310px;
    margin-top: 170px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.welcome__information {
    width: 497px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome__information-header {
    width: 461px;
    height: 105px;
    line-height: 60px;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    color: #21243d;
}

.welcome__information-text {
    width: 497px;
    height: 66px;
    font-size: 16px;
}

.button {
    background-color: #ff6464;
    width: 208px;
    height: 47px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    border: 0px solid #ff6464;
    border-radius: 2px;
}

.button:hover {
    background-color: #ff4848;
    cursor: pointer;
}

/* Resents-post */

.resents-posts {
    width: 100%;
    height: 400px;
    background-color: #edf7fa;
    display: flex;
    justify-content: center;
}

.container {
    width: 860px;
}

.resents-posts__header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.h4-header {
    font-size: 22px;
    font-weight: 400;
}

.resents-post__more {
    color: #00a8cc;
    text-decoration: none;
    font-size: 16px;
}

.resents-post__more:hover {
    color: #0186a3;
}

.resent-posts__main {
    display: flex;
    justify-content: space-between;
}

.resents-posts__block {
    padding: 25px;
    width: 368px;
    height: 245px;
    background-color: #fff;
    border-radius: 4px;
}

h3 {
    color: #21243d;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 28px;
}

.data-adress {
    display: flex;
    margin-bottom: 22px;
}

.data {
    border-right: 1px solid #000;
    padding-right: 25px;
}

.adress {
    margin-left: 22px;
}

.resents-posts__text p {
    font-size: 16px;
}

/* featured-works */

.featured-works {
    display: flex;
    justify-content: center;
}

.h4-header-featured {
    font-size: 22px;
    font-weight: 400;
    margin-top: 29px;
    margin-bottom: 35px;
}

.featured-element {
    width: 860px;
    height: 194px;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 33px;
}

.featured-element__image {
    height: 180px;
}

.img {
    width: 246px;
    height: 180px;
}

.featured-element__info {
    width: 593px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.featured-element__year-comment {
    display: flex;
}

.featured-element__year {
    background-color: #142850;
    width: 62px;
    height: 25px;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid #000;
}

.featured-element__comment {
    padding-left: 28px;
    font-size: 20px;
    color: #8695a4;
}

.featured-element__info-text {
    width: 574px;
    height: 78px;
}

/* footer */

.footer {
    width: 100%;
    height: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 234px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social {
    width: 230px;
    display: flex;
    justify-content: space-between;
}

a i {
    color: #21243d;
    font-size: 30px;
}

a i:hover {
    color: #72758f;
    transition: 0.5s;
}

.footer-text {
    font-size: 14px;
    color: #21243d;
}

/* 
    Тут будет медиазапрос главной странички

 @media (max-width: .....

    Тут будет медиа запрос главной странички
*/

/* Вторая страница */

/* Blog */

.main-blog {
    display: flex;
    justify-content: center;
}

.main-section {
    width: 860px;
    height: auto;
}

.main-section__title {
    margin-top: 100px;
    margin-bottom: 35px;
}

.blog-information__block {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 40px;
    padding-bottom: 27px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-information__block h2 {
    font-size: 30px;
}

.blog-information__block-preview-data {
    padding-right: 20px;
    border-right: 1px solid #000;
}

.blog-information__block-preview-comment {
    margin-left: 20px;
    color: #8695a4;
}

/* Третья страничка */

/* Works */

.main-works {
    display: flex;
    justify-content: center;
}

.main-works__title {
    margin: 92px 0 9px 0;
}

.main-works__featured-element {
    width: 860px;
    height: 194px;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 48px;
    padding-top: 41px;
}

.header2-anchor {
    color: #21243d;
    font-size: 30px;
    text-decoration: none;
}

.header2-anchor:hover {
    color: #2e3472;
}

/* Третья страничка . 1-я страничка во вложении*/

/* Works detail*/

.main-detail {
    display: flex;
    justify-content: center;
}

.main-detail__container {
    width: 860px;
}

.main-detail__head-container {
    margin-top: 78px;
    margin-bottom: 42px;
}

.works-detail__header {
    font-size: 34px;
}

.work-detail__year-comment {
    display: flex;
}

.work-detail__text {
    margin-top: 32px;
    margin-bottom: 25px;
}

.work-detail__year {
    background-color: #ff7c7c;
    width: 62px;
    height: 25px;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-detail__comment {
    padding-left: 28px;
    font-size: 20px;
    color: #21243d;
}

.work-detail__image {
    width: 860px;
    margin: 25px 0 25px 0;
}

.works-detail__second-header {
    font-size: 30px;
    margin-top: 53px;
}

.works-detail__third-header {
    font-size: 24px;
    margin: 22px 0 22px 0;
}
